version: '3.8'

services:
  mariadb:
    image: mariadb:jammy
    env_file:
      - ./mariadb_environment
    expose:
      - 3306


  init:
    build:
      context: ./images/airflow-docker
      args:
        AIRFLOW_BASE_IMAGE: apache/airflow:2.5.0-python3.10
    image: airflow-docker
    depends_on:
      - mariadb
    env_file:
      - ./airflow_environment
    entrypoint: /bin/bash
    command: -c 'airflow db init && airflow users create --username admin --password admin --firstname Andrey --lastname Kolenkov --role Admin --email avoknelok@mail.ru'

  webserver:
    build:
      context: ./images/airflow-docker
      args:
        AIRFLOW_BASE_IMAGE: apache/airflow:2.5.0-python3.10
    image: airflow-docker
    depends_on:
      - mariadb
    env_file:
      - ./airflow_environment
    command: webserver
    restart: always
    ports:
      - 8080:8080
    volumes:
      - ./logs:/opt/airflow/logs

  scheduler:
    build:
      context: ./images/airflow-docker
      args:
        AIRFLOW_BASE_IMAGE: apache/airflow:2.5.0-python3.10
    image: airflow-docker
    depends_on:
      - mariadb
    env_file:
      - ./airflow_environment
    command: webserver
    restart: always
    volumes:
      - ./dags/:/opt/airflow/dags/
      - ./data/:/opt/airflow/data/
      - /var/run/docker.sock:/var/run/docker.sock
      - ./logs:/opt/airflow/logs

  data_generator:
    build:
      context: ./images/airflow-data-generator
    image: airflow-data-generator

  preprocessor:
    build:
      context: ./images/airflow-preprocessor
    image: airflow-preprocessor

  data_splitter:
    build:
      context: ./images/airflow-data-splitter
    image: airflow-data-splitter

  trainer:
    build:
      context: ./images/airflow-trainer
    image: airflow-trainer

  predictor:
    build:
      context: ./images/airflow-predictor
    image: airflow-predictor

  validator:
    build:
      context: ./images/airflow-validator
    image: airflow-validator
