 name: CI
 on: [push, pull_request]
 jobs:
  MainCI:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install_system
        run: |
          sudo apt update
          sudo apt install python3
          sudo apt-get install libpython3-dev
          sudo apt-get install python3-venv
      - name: run_all
        run: |
          cd ml_project
          bash make.sh config1.json
      - name: save_metrics
        uses: actions/upload-artifact@v3
        with:
          name: metrics
          path: ./ml_project/report/metrics.json
      - name: save_coverage_report
        uses: actions/upload-artifact@v3
        with:
          name: metrics
          path: ./ml_project/report/coverage_report
      - name: save_logs
        uses: actions/upload-artifact@v3
        with:
          name: metrics
          path: ./ml_project/report/log.txt
